* {
    font-family: 'Montserrat', sans-serif;
}
html, body {
    min-height: 100vh;
}
body {
    margin: 0px;
    background-color: rgb(34, 34, 34);
    background-image: url("mountains.jpg");
    position: relative; 
    height: 100%;   
}
body .bodyfade {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9) ;
    position: absolute;
    z-index: -1;
}
nav {
    width: 100%;
    background: rgb(37, 37, 37);
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid transparent;
    border-bottom-color: orange;
    border-width: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

nav a {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    color: white;
    text-decoration: none;
    transition: .2s;
}
nav a:hover {
    background-color: orange;
    transition: .2s;
}
.content {
    padding: 16px;
    background-color: rgba(93, 93, 93,0.95);
    width: 75%;
    margin: 0 auto;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    
}
.content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: Orange;
    

}
hr{
    border-color: rgba(51, 51, 51, 0.465);
    width: 100%;
}
.products .card {
    width: 100px;
    height: 100px;
    margin: 8px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    transition: .5s;
}
.products .card:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: .2s;
}
.products .card .fade {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        color: white;
        display: inline-flex;
        justify-content: center;
        align-items: center;
}
.products .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
